﻿@model ViewModelGraph;

@using Newtonsoft.Json
@{
    var searializedObject = JsonConvert.SerializeObject(Model);
}
@{ int Generation = 0; }
<!-- START CHART IMPORT -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" xmlns="http://www.w3.org/1999/html"></script>
<!-- START SIGMA IMPORTS -->

<script src="~/js/sigma/src/sigma.core.js"></script>
<script src="~/js/sigma/src/conrad.js"></script>
<script src="~/js/sigma/src/utils/sigma.utils.js"></script>
<script src="~/js/sigma/src/utils/sigma.polyfills.js"></script>
<script src="~/js/sigma/src/sigma.settings.js"></script>
<script src="~/js/sigma/src/classes/sigma.classes.dispatcher.js"></script>
<script src="~/js/sigma/src/classes/sigma.classes.configurable.js"></script>
<script src="~/js/sigma/src/classes/sigma.classes.graph.js"></script>
<script src="~/js/sigma/src/classes/sigma.classes.camera.js"></script>
<script src="~/js/sigma/src/classes/sigma.classes.quad.js"></script>
<script src="~/js/sigma/src/classes/sigma.classes.edgequad.js"></script>
<script src="~/js/sigma/src/captors/sigma.captors.mouse.js"></script>
<script src="~/js/sigma/src/captors/sigma.captors.touch.js"></script>
<script src="~/js/sigma/src/renderers/sigma.renderers.canvas.js"></script>
<script src="~/js/sigma/src/renderers/sigma.renderers.webgl.js"></script>
<script src="~/js/sigma/src/renderers/sigma.renderers.svg.js"></script>
<script src="~/js/sigma/src/renderers/sigma.renderers.def.js"></script>
<script src="~/js/sigma/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="~/js/sigma/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="~/js/sigma/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="~/js/sigma/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="~/js/sigma/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="~/js/sigma/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="~/js/sigma/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="~/js/sigma/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="~/js/sigma/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="~/js/sigma/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="~/js/sigma/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="~/js/sigma/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="~/js/sigma/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
<script src="~/js/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
<script src="~/js/sigma/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
<script src="~/js/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="~/js/sigma/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
<script src="~/js/sigma/src/renderers/svg/sigma.svg.utils.js"></script>
<script src="~/js/sigma/src/renderers/svg/sigma.svg.nodes.def.js"></script>
<script src="~/js/sigma/src/renderers/svg/sigma.svg.edges.def.js"></script>
<script src="~/js/sigma/src/renderers/svg/sigma.svg.edges.curve.js"></script>
<script src="~/js/sigma/src/renderers/svg/sigma.svg.labels.def.js"></script>
<script src="~/js/sigma/src/renderers/svg/sigma.svg.hovers.def.js"></script>
<script src="~/js/sigma/src/middlewares/sigma.middlewares.rescale.js"></script>
<script src="~/js/sigma/src/middlewares/sigma.middlewares.copy.js"></script>
<script src="~/js/sigma/src/misc/sigma.misc.animation.js"></script>
<script src="~/js/sigma/src/misc/sigma.misc.bindEvents.js"></script>
<script src="~/js/sigma/src/misc/sigma.misc.bindDOMEvents.js"></script>
<script src="~/js/sigma/src/misc/sigma.misc.drawHovers.js"></script>

<!-- END SIGMA IMPORTS -->
<script src="~/js/sigma/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js"></script>
<script src="~/js/sigma/plugins/sigma.renderers.edgeLabels/settings.js"></script>
<script src="~/js/sigma/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js"></script>
<script src="~/js/sigma/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js"></script>
<script src="~/js/sigma/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js"></script>
<script src="~/js/sigma/src/renderers/canvas/sigma.canvas.labels.def.js"></script>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>

<div class="container">
    <div class="row card p-3" style="height: 550px">
        <div id="graph-container" class="row" style="height: 45%"></div>
        <div class="dropdown-divider"></div>
        <div id="graph-container2" class="row " style="height: 45%"></div>
    </div>
    <div class="row card p-3">
        <div class="row align-items-center">
            <div id="buttonContainer" class="btn-toolbar col-md-8">
                <div class="btn-group col-md-7 h-50 ">
                    <button onclick="DecreaseNumberOfGenerationTo0()" class="btn btn-primary col-md-4">Pierwsza</button>
                    <button onclick="DecreaseNumberOfGeneration()" class="btn btn-primary col-md-4">Poprzednia</button>
                    <button onclick="IncreaseNumberOfGeneration()" class="btn btn-primary col-md-4">Kolejna</button>
                    <button onclick="IncreaseNumberOfGenerationTo50()" class="btn btn-primary col-md-4">Ostatnia</button>
                </div>
            </div>
            <form asp-action="CreateNewGraph" class="col-md-4 row">
                <label class="control-label">Ilość wierzchołków</label>
                <div class="row">
                    <input asp-for="VertexCount" class="form-control col-sm-7 mr-1"/>
                    <input type="submit" value="Losuj" class="btn btn-primary col-sm-4 center"/>
                </div>
            </form>
        </div>
        @* <div id="GenerationNumber" class="row"> *@
        @*     Obecna Generacja:0 *@
        @* </div> *@
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row card">
                <canvas id="myChart"></canvas>
                <canvas id="myChart3"></canvas>
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    var Graph =@Html.Raw(searializedObject);

    var i,
        centerY,
        centerX,
        s,
        N = Graph.GraphMatrix.length,
        centerX = 40,
        centerY = 40,
        radius = 2,
        g = {
            nodes: [],
            edges: []
        };


    for (i = 0; i < N; i++) {

        if (Graph.IdVectorsInFirstGraph.indexOf(i) == -1) {
            g.nodes.push({
                id: 'n' + i,
                label: 'Node ' + (i + 1),
                x: centerX + radius * Math.sin(360 / N * i * Math.PI / 180),
                y: centerY + radius * Math.cos(360 / N * i * Math.PI / 180),
                size: 20,
                color: '#F66'
            });
        } else {
            g.nodes.push({
                id: 'n' + i,
                label: 'Node ' + (i + 1),
                x: 10 + centerX + radius * Math.sin(360 / N * i * Math.PI / 180),
                y: centerY + radius * Math.cos(360 / N * i * Math.PI / 180),
                size: 20,
                color: '#F66'
            });

        }
    }
 
    var e = 1;
    for (i = 0; i < Graph.GraphMatrix.length; i++) {
        for (j = i; j < Graph.GraphMatrix.length; j++) {
            if ((Graph.GraphMatrix[i][j]) != 0) {
                if (Graph.IdVectorsInFirstGraph.indexOf(i) == -1) {
                    g.edges.push({
                        id: 'e' + e++,
                        source: 'n' + (i),
                        target: 'n' + (j),
                        size: 20,
                        color: '#000',
                        label: '' + Graph.GraphMatrix[i][j]
                    });
                } else {

                    g.edges.push({
                        id: 'e' + e++,
                        source: 'n' + (i),
                        target: 'n' + (j),
                        size: 20,
                        color: '#000',
                        label: '' + Graph.GraphMatrix[i][j]
                    });

                }
            }
        }
    }

    s = new sigma({
        graph: g,
        renderer: {
            container: document.getElementById('graph-container'),
            type: 'canvas'
        },
        settings: {
            edgeLabelSize: 'proportional'
        }

    });


    var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);

    dragListener.bind('startdrag',
        function(event) {
            console.log(event);
        });
    dragListener.bind('drag',
        function(event) {
            console.log(event);
        });
    dragListener.bind('drop',
        function(event) {
            console.log(event);
        });
    dragListener.bind('dragend',
        function(event) {
            console.log(event);
        });

    function isBigEnough(Chromosome) {
        return Chromosome[Chromosome.length - 1];
    }
    function clearChart() {
       event.preventDefault();
        var parent = document.getElementById('parent-canvas');
        var child = document.getElementById('myChart');
        parent.removeChild(child);
        parent.innerHTML ='<canvas id="myChart" width="350" height="99" ></canvas>';
        return;
    }

    var chart2;
    var ctx2;
        function chartCreateF1() {
        var Graph = @Html.Raw(searializedObject);
        var tab = [];
      
            for (i = 0; i < Graph.TheBestF1.length; i++) {
                tab.push(i);
            }
       
            ctx2 = document.getElementById('myChart2').getContext('2d');
        chart2 = new Chart(ctx2,
            {
                type: 'line',

                data: {
                    labels: tab,
                    datasets: [
                        {
                            showLine: false,
                            label: 'F1',
                            backgroundColor: 'rgb(99, 255, 132)',
                            borderColor: 'rgb(99, 255, 132)',
                            data: Graph.TheBestF1
                        }, 

                    ]

                },

                options: {}
            });
    }
    var chart3;
    var ctx3;
    
    function chartCreateF2() {


        var Graph = @Html.Raw(searializedObject);
        var tab = [];
      


        for (i = 0; i < Graph.TheBestF2.length; i++) {
            tab.push(i);
        }
        //  pf.push(lab[0]);
       
        ctx3 = document.getElementById('myChart3').getContext('2d');
        chart3 = new Chart(ctx3,
            {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: tab,
                    datasets: [
                        {
                            showLine: false,
                            label: 'F2',
                            backgroundColor: 'rgb(132, 99, 255)',
                            borderColor: 'rgb(132, 99, 255)',
                            data: Graph.TheBestF2
                        }, 

                    ]

                },

                // Configuration options go here
                options: {}
            });
    }





    var chart;
    var ctx;
    var GenerationOfPopulation = 0;
    function chartCreate(chart) {

        if (chart != null) {
            clearChart();

            chart.clear();

            chart.destroy();
        }

        var Graph = @Html.Raw(searializedObject);
        var tab = [];
        var lab = [];
        for (item in Graph.Pupulation[GenerationOfPopulation].Populations) {
            tab.push(Graph.Pupulation[GenerationOfPopulation].Populations[item].Chromosome[Graph.Pupulation[GenerationOfPopulation].Populations[item].Chromosome.length-1]);
        }




        for (item in Graph.Pupulation[GenerationOfPopulation].Populations) {
            lab.push(Graph.Pupulation[GenerationOfPopulation].Populations[item].Chromosome[Graph.Pupulation[GenerationOfPopulation].Populations[item].Chromosome.length - 2]);
        }
        var pf = Graph.Pareto[GenerationOfPopulation];
      
        Generation = GenerationOfPopulation;
        ctx = document.getElementById('myChart').getContext('2d');
        chart = new Chart(ctx,
            {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: tab,
                    datasets: [
                        {
                            showLine: false,
                            label: 'Wartosci funkcji',
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: lab
                        }, {
                            showLine: false,
                            pointRadius: 10,
                            label: 'Pareto Front',
                            backgroundColor: 'rgb(0, 255, 0)',
                            borderColor: 'rgb(0, 255, 0)',
                            data: pf


    }

                    ]

                },

                options: {}
            });
    }

    var chart = null;
    chartCreate(chart);
    chartCreateF1();
    chartCreateF2();
    var best;

    function myFunction(NumberOfGraphIndex) {
        var Graph = @Html.Raw(searializedObject);


        var i,
            centerY,
            centerX,
            s,
            N = Graph.GraphMatrix.length,
            centerX = 40,
            centerY = 40,
            radius = 2,
            g = {
                nodes: [],
                edges: []
            };


        for (i = 0; i < N; i++) {

            if (Graph.Pupulation[GenerationOfPopulation].Populations[NumberOfGraphIndex].Chromosome[i] == 0) {
                g.nodes.push({
                    id: 'n' + i,
                    label: 'Node ' + (i + 1),
                    x: centerX + radius * Math.sin(360 / N * i * Math.PI / 180),
                    y: centerY + radius * Math.cos(360 / N * i * Math.PI / 180),
                    size: 20,
                    color: '#0F6'
                });
            } else {
                g.nodes.push({
                    id: 'n' + i,
                    label: 'Node ' + (i + 1),
                    x: 10 + centerX + radius * Math.sin(360 / N * i * Math.PI / 180),
                    y: centerY + radius * Math.cos(360 / N * i * Math.PI / 180),
                    size: 20,
                    color: '#00F'
                });

            }
        }


        var e = 1;
        for (i = 0; i < Graph.GraphMatrix.length; i++) {
            for (j = i; j < Graph.GraphMatrix.length; j++) {
                if ((Graph.GraphMatrix[i][j]) != 0) {
                    if (Graph.IdVectorsInFirstGraph.indexOf(i) == -1) {
                        g.edges.push({
                            id: 'e' + e++,
                            source: 'n' + (i),
                            target: 'n' + (j),
                            size: 20,
                            color: '#000',
                            defaultLabelSize: 10,
                            label: '' + Graph.GraphMatrix[i][j]
                        });
                    } else {

                        g.edges.push({
                            id: 'e' + e++,
                            source: 'n' + (i),
                            target: 'n' + (j),
                            size: 20,
                            color: '#000',
                            defaultLabelSize: 10,
                            label: '' + Graph.GraphMatrix[i][j]
                        });

                    }
                }
            }
        }

        best = new sigma({
            graph: g,
            renderer: {
                container: document.getElementById('graph-container2'),
                type: 'canvas'
            },
            settings: {
                edgeLabelSize: 'proportional'
            }

        });


        var dragListener = sigma.plugins.dragNodes(best, best.renderers[0]);

        dragListener.bind('startdrag',
            function(event) {
                console.log(event);
            });
        dragListener.bind('drag',
            function(event) {
                console.log(event);
            });
        dragListener.bind('drop',
            function(event) {
                console.log(event);
            });
        dragListener.bind('dragend',
            function(event) {
                console.log(event);
            });
    }

    myFunction(0);
    RefreshChromosomeMatrix();

    function refresh_graph(numberOfGraphIndex) {

        best.graph.clear();
        best.refresh();
        best.graph.kill();

        myFunction(numberOfGraphIndex);

    }


    function RefreshChromosomeMatrix() {

        var Graph = @Html.Raw(searializedObject);
        var k = 0;
        var text = "";


        for (item in Graph.Pupulation[GenerationOfPopulation].Populations) {

            for (i = 0; i < Graph.Pupulation[GenerationOfPopulation].Populations[0].Chromosome.length; i++) {
                text += (Graph.Pupulation[GenerationOfPopulation].Populations[item].Chromosome[i] + " ")

            }
            text += "<button onclick='refresh_graph(" + k + ")'>+</button>"
            text += "<br>";
            k = k + 1;

        }
        text += "<br>";

        document.getElementById("Chromosome-Matrix").innerHTML = text;

    }

    function UpdateGenerationNumber() {
        document.getElementById("GenerationNumber").innerHTML ="Obecna Generacja:"+ GenerationOfPopulation;
    }

    function IncreaseNumberOfGeneration() {
        if (GenerationOfPopulation < 49) {
            GenerationOfPopulation++;
            refresh_graph(GenerationOfPopulation);
            @(Generation = Generation + 1);

            chartCreate();
            RefreshChromosomeMatrix();
        }
    }

    function DecreaseNumberOfGeneration() {
        if (GenerationOfPopulation > 0) {
            GenerationOfPopulation--;
            refresh_graph(GenerationOfPopulation);
            @(@Generation = @Generation - 1);
            chartCreate();
            RefreshChromosomeMatrix();
            UpdateGenerationNumber();


        }
    }

    function IncreaseNumberOfGeneration() {
        if (GenerationOfPopulation < 49) {
            GenerationOfPopulation++;
            refresh_graph(GenerationOfPopulation);
            @(Generation = Generation + 1);

            chartCreate();
            RefreshChromosomeMatrix();
            UpdateGenerationNumber();

        }
    }

    function IncreaseNumberOfGenerationTo50() {
        if (GenerationOfPopulation < 49) {
            GenerationOfPopulation = 49;
            refresh_graph(GenerationOfPopulation);


            chartCreate();
            RefreshChromosomeMatrix();
            UpdateGenerationNumber();

        }
    }

    function DecreaseNumberOfGenerationTo0() {
        if (GenerationOfPopulation > 0) {
            GenerationOfPopulation = 0;
            refresh_graph(GenerationOfPopulation);


            chartCreate();
            RefreshChromosomeMatrix();
            UpdateGenerationNumber();
        }
    }
    
</script>